*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-image: radial-gradient(#dddddd 10%, transparent 10%);
  background-position: center;
  background-size: 4vmin 4vmin;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 480px) {
  body {
    background-size: 2vmin 2vmin;
  }
}
